<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/pb.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{% block title %}{% endblock %} - Pizza Blaster</title>
    {% endblock %}
</head>
<body>
    <header>
      <img src="/images/logo.png" class="logo">
    </header>
    <div id="content">{% block content %}{% endblock %}</div>
</body>
</html>
