<div style="font-size:1.3em">
<p style="margin:4px">
  Congratulations, {{ name }}.
</p><p style="margin:4px">
  Your chance to play Pizza Blaster is now.
</p><p style="margin:4px">
  Click the link below and enter your code to begin.
</p><p style="margin:4px">
  <a href="{{play_link}}">{{ play_link }}</a>
</p><p style="margin:4px">
  <strong style="font-size:1.5em">Verification Code: {{ verification_code }}</strong>
</p><p style="margin:4px">
  Reminder: this code will expire at {{ expiration_date }}. You get only one chance.
</p>
</div>
