{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}

{% block content %}
    <h1>Pizza Blaster</h1>
    <h2>Sign up here</h2>
    <form method="post" enctype="multipart/form-data" action="{{ upload_url }}">
      <p>
        <input type="text" name="name" placeholder="Name" required />
      </p>
      <p>
        <input type="email" name="email" placeholder="Email" required />
      </p>
      <p>
        <label for="image-input">Upload a picture</label>
        <input type="file" id="image-input" name="image" placeholder="Picture" />
      </p>
      <p>
        <input type="submit" value="Sign Up" />
      </p>
    </form>
{% endblock %}
