{% extends "base.html" %}
{% block title %}Global Leaderboard{% endblock %}

{% block content %}
  <h2>Global Leaderboard</h2>
  <div class="center">
    <table>
      <thead>
        <tr>
          <th>Rank</th>
          <th>Name</th>
          <th>Time</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr class="leaderboardItem">
            <td>{{loop.index}}</td>
            <td><strong>{{user.name}}</strong></td>
            <td>{{user.score}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
