{% extends "base.html" %}
{% block title %}Global Leaderboard{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}

{% block content %}
  <h2>Global Leaderboard</h2>
  <ol>
    {% for user in users %}
      <li><div class="leaderboardItem">
        {% if user.image %}<img src="/image/{{ user.image }}" class="playerPic">{% endif %} <span class="playerScore">{{user.name}}: {{user.score}}</span>
      </div></li>
    {% endfor %}
  </ol>
{% endblock %}
