{% extends "base.html" %}
{% block title %}Play{% endblock %}

{% block content %}
    <!-- <h1>Hi {{ name }}! Play now!</h1> -->
    <style type="text/css">
    .logo {
      display: none;
    }
    </style>
    <div class="gameContainer">

      <img src="/images/the_picture_of_the_pizza.jpg" class="pizza"/>

      <div class="timer">
        <span class="afterGame invisible"><h1>Your time was </h1><br /></span>
        <h1 id="timetext">00:00:00</h1>
        <span class="afterGame invisible"><br /><h1>Please enter your time to continue.</h1></span>
      </div>

      <div class="center">
        <button class="button doneButton">I'm done.</button>
      </div>

      <div class="submitScore afterGame invisible">
        <form method="post" action="/submit/{{ play_id }}" class="scoreInput">
          <input type="hidden" name="realscore">
          <input type="hidden" name="inputscore">
          <p>
            <input type="text" name="score" placeholder="Your time" pattern="[0-9:]*">
          </p>
          <p>
            <input class="button" type="submit" value="Submit">
          </p>
        </form>
      </div>
    </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
    <script type="text/javascript" src="/js/play.js"></script>
{% endblock %}
