{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}

{% block content %}
    <h1 class="signupHeader">Sign up here</h1>
    <form method="post" action="{{ upload_url }}" class="signupContainer">
      <p>
        <label for="name-input">Username</label><br/>
        <input type="text" id="name-input" name="name" required />
      </p>
      <p>
        <label for="name-input">Email</label><br/>
        <input type="email" id="email-input" name="email" required />
      </p>
      <!-- <div class="signupPadding"></div> -->
      <p>
        <label for="image-input">Add Photo</label>
        <input type="file" class="fileUpload" id="image-input" placeholder="Picture" />
        <!-- <span>Add Photo</span> -->
        <!-- <div class="button uploadButton">Upload Photo</div> -->
      </p>
      <div class="signupPadding"></div>
      <p>
        <input type="submit" class="button submitButton" value="Submit" />
      </p>
    </form>

<!--
    <script type="text/javascript">
    $('.uploadButton').click(function() {
      $('input[type=file]').click();
    });
    </script>
  -->
{% endblock %}
